:root{
    --colr-purpledark:#7562E0;
    --colr-icons:#FFFFFF;
    --colr-btn:#fff;
    --colr-btn-bknd:#A696FF;
    --colr-footer:#A696FF;
    --colr-edu: #F5F5F6;
    --colr-edu-head:#4B4567;
    --colr-expr:#F5F5F6;
    --colr-expr-head:#4B4567;
    --colr-expr-cont:#F5F5F7;
    --colr-yr: #7562E0;
    --colr-yr-bknd:#FAFBFD;
    
}

*{
    margin-top: 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr ; 

    grid-template-rows:auto;
    grid-template-areas:     "nav_1"       "main"           "exp"             "expr"         "exp1"              "exp_cont"           "edu"          "edu_cont"        "footer" ;

}

.navbar{
    display: grid;
    grid-template-columns: 8fr 1fr 1fr 1fr;
    grid-area:nav_1 ;
    /* background-color: aqua; */
    margin-right: 211px;
    margin-left: 211px;
}

.name1{
    color: var(--colr-purpledark);
    font-size: 24px;
    font-family: Rubik;
    font-style: normal;
}

.name2,.name3,.name4{
    font-family: Rubik;
    font-style: normal;

}

.main{
grid-area: main;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-areas: "main1 main2";

}

.main1{
    grid-area: main1;
    margin-left: 211px;
}

.h2{
    
    margin-top: 100px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    
}

.h6{
    margin-top: -21px;
    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.btn{
   
    background-color:var(--colr-yr);
    color:var(--colr-btn);
    position: absolute;
    width: 188px;
    height: 51px;
    margin-top: 10px;
}

.main2{
    /* background-color: rgb(82, 70, 23); */
    grid-area: main2;
    /* margin-right: 0px; */
    position: relative;
}

.img{
    width: 500px;
    height: 800px;
    position: absolute;
    margin-top: 10px;
    margin-left: -41px;
}

.img1{
/* position: absolute;  */
    width:100%;
    height: 808px;
    margin-left: 133x;
    
    
}

.exp{
    /* grid-area:exp ; */
    background-color:var(--colr-yr-bknd);
    
}

.yr{
    margin-left: 30px;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 120px;
    line-height: 142px;
    margin-left: 211px;
    color:var(--colr-yr);
    
}

.yr1{
    margin-left: 57px;
    margin-top: -124px;
    font-size: 18px;
    margin-left: 211px;
    color:var(--colr-yr);
    
}

.ex{
    background-size: 120% 100%;
    background-repeat: no-repeat;
    background-image: url("/image/round11.jpg");  
}

.expr{
    width: 850px;
    height: 310px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin-left: 310px;
    margin-top:-65px;
     margin-bottom:420px;
    margin-right: 211px;
}

.d1,.d2,.d3{
    width: 270px;
    height: 310px;
    background-color:var(--colr-expr-cont);
    display: flex;
    flex-direction: column;
    justify-content:flex-end;  
}

.d1>i{
   
    font-size: xx-large;
    font-size: 40px;
    padding-left: 30px;
    padding-bottom: 30px;
} 

.d1>p{
    font-size:large;
    padding-left: 30px;
}

.d2>i{
    font-size: xx-large;
    font-size: 40px;
    padding-left: 30px;
    padding-bottom: 30px;
} 

.d2>p{
    font-size:large;
    padding-left: 30px;
}

.d3>i{
    
    font-size: xx-large;
    font-size: 40px;
    padding-bottom:30px;
    padding-left: 30px;
} 

.d3>p{
    font-size:large;
    padding-left: 30px;
}

.mg{
    width: 200px;
}

.exp1{
    grid-area: exp1;
    background-color: var(--colr-yr-bknd);
   
}

.expe{
    margin-top: 81px;
    margin-bottom: 162px;
    font-style:rubik;
    font-size: 48px;
    margin-left: 211px;
    color:var(--colr-expr-head);
    
}

.exp_cont{
    grid-area: exp_cont;
   
    display: grid;
    /* grid-template-columns: ifr ifr; */
    /* grid-template-areas:"part1 part2"; */
}

.p1,.p2,.p3,.p4,.p5{
    background-color:var(--colr-expr);
    width:  86.88vh;
    height: 18.72vh;
    border: 5px solid white;
    margin-left: 211px;
   
}

.pi{
    margin-left: 30px;
    font-style: unset;
    font-size: 20px;
    
}

.part1{
    position: absolute;
    grid-area: part1;
    margin-top: -99px;  
}

.part2{
    /* grid-area: part2; */
    margin-right: 20px;
    margin-bottom: 240px;
    

}

.p1{
    margin-top: -92px;
}


.edu{
    grid-area: edu;
    background-color: var(--colr-yr-bknd);
    

}

.im{
    width: 665px;
    margin-left: 660px;
    margin-top: -79px;
    height: 456px;
}

.edu1{
    margin-top: 81px;
    margin-bottom: 162px;
    font-style:rubik;
    font-size: 48px;
    margin-left: 211px;
    color:var(--colr-edu-head);
}

.edu_cont{
    grid-area: edu_cont;
    /* background-color: indigo; */
    /* display: flex;
    flex-direction: column; */
    /* justify-content:space-between; */
    /* justify-content:space-around; */
}

.one,.two,.three{
    width:  86.88vh;
    height: 18.72vh;
    background-color:var(--colr-edu);
    border: 2px solid white;
    margin-left: 211px;
    

}

.one{
    margin-top: -136px;
}

.mca{
    margin-left: 30px;
    font-style: unset;
    font-size: 20px;
}

.h5{
    margin-left: 30px;
    font-style: unset;
    font-size: 20px;
}

.schl{
    margin-left: 30px;
    font-style: unset;
    font-size: 20px;
}

.sslc{
    margin-left: 30px;
    font-style: unset;
    font-size: 20px;
}

.img11{
    width: 575px;
    margin-left: 750px;
    height: 434px;
    margin-top: -360px;

    

}

.footer{
    grid-area: footer;
    background:var(--colr-footer);
    padding-bottom: 270px;
}

.btn1{
   
    margin-left: 211px;
    background:var(--colr-btn-bknd);
    margin-top: 107px;
    width: 205px;
    height: 43px;
    border-color:var(--colr-btn);
    color:var(--colr-btn);
}

.h1{
    width: 20px;
    height: 10px;
    background-color: rgb(8, 0, 0);
}

.icons>i{
    
    font-size: xx-large;
    margin-bottom: 30px;
    width: 26.6px;
    height: 26.6px;
    color:var(--colr-icons);

}

.icons{
    position: absolute;
    margin-left: 474px;
    margin-top: -369px;
    display: flex;
    flex-direction: column;

}

.im1{
    position: absolute;
    margin-top: 318px;
    width: 771px;
    height: 280px;
    margin-left: -107px;


}
